@import "/styles/customs/mixins";
@import "/styles/customs/variables";

.cardItems {
  display: grid;
  grid-gap: 1.25rem;
  grid-template-columns: repeat(auto-fill, 9.375rem);
  justify-content: center;
}

.singleItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 10px solid white;
  box-shadow: 0rem 0rem 0.3125rem 0.3125rem rgb(213, 211, 211);
  border-radius: 10%;
  padding-bottom: 0.3125rem;
  cursor: pointer;

  background: linear-gradient(
    180deg,
    rgb(255, 249, 234) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  &__id {
    margin-top: 0.3125rem;
    color: black;
    opacity: 0.5;
    font-weight: 800;
  }

  &__image {
    position: relative;
    width: 6.25rem;
    height: 6.25rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }

  &__name {
    font-weight: 800;
    text-transform: capitalize;
  }

  &__types {
    margin-bottom: 0.3125rem;
    margin-top: 0.3125rem;
    display: flex;
    justify-content: center;
    gap: 0.3125rem;

    font-size: 0.625rem;
    color: white;
    border-radius: 10%;
    padding: 0.3125rem;
  }
}

.pokedexTitle {
  display: flex;
  justify-content: center;
  gap: 0.3125rem;
  margin: 3.125rem;

  font-weight: 800;
  font-size: 2.75rem;

  color: rgb(248, 113, 113);

  @include media(tablet) {
    font-size: 3.75rem;
  }

  &__image {
    width: 2.8125rem;
    height: 2.8125rem;
  }
}

.searchBar {
  display: flex;
  justify-content: center;

  @include media(tablet) {
    display: flex;
    justify-content: flex-end;
    margin-right: 3.125rem;
  }

  &__container {
    display: flex;
    border-bottom: 0.0625rem solid black;
    margin-bottom: 1.875rem;
    border-radius: 0.3125rem;
    padding: 0.3125rem;
    width: 60%;

    @include media(tablet) {
      width: auto;
    }

    &__input {
      background: none;
      border: none;
      width: 100%;
      outline: none;
      @include media(tablet) {
        width: auto;
      }
    }

    &__image {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.imagePokeball {
  height: 0.125rem;
  width: 0.125rem;
}
