@import "/styles/customs/mixins";
@import "/styles/customs/variables";

// NavBar Styles

.defaultLayout {
  @include flex(
    $direction: column,
    $align: stretch,
    $justify: center,
    $gap: 2rem
  );
  padding: 2rem;

  @include media(desktop) {
    margin-inline: auto;
    max-width: 75rem;
  }
}

.button--navigation {
  color: white;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.navbar {
  @include flex($justify: space-around, $align: center);
  height: 4rem;
  box-shadow: 0rem 0rem 0.3125rem 0.3125rem $shadow-pkm;
  font-size: 1.5rem;
  color: white;

  @include media(desktop) {
    @include flex($justify: space-between, $align: center);
    padding-inline: 3rem;
  }

  &__backbutton {
    @extend .button--navigation;
    @include image($w: 24px, $h: 24px);
  }

  &__name {
    font-weight: 700;
    text-shadow: 2px;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
  }

  &__number {
    @include flex($direction: column, $align: center);
    opacity: 0.7;

    & > p {
      font-size: 0.875rem;
    }
  }
}

// PrimaryInformation Styles

.mainContentWrapper {
  @include flex($direction: column, $align: center, $gap: 30px);

  @include media(tablet) {
    @include flex(
      $direction: row,
      $justify: center,
      $align: center,
      $gap: 6.25rem
    );
  }
}

.basicInformation {
  @include flex($direction: column, $justify: center);

  @include media(tablet) {
    @include flex($direction: column, $gap: 0.625rem);
  }
}

.column {
  @include flex($gap: 30px);

  &__abilities {
    @include flex($direction: column, $gap: 0.625rem);

    margin: 0.4375rem;
    font-weight: 800;
    color: $smoother-black;
  }

  &__size {
    @include flex($direction: column, $gap: 10px);

    font-weight: 800;
    margin: 5px;
    color: $smoother-black;
  }

  &__sizeData {
    @include flex($direction: column);
    gap: 15px;

    font-size: 12px;
    font-weight: 600;
    color: $dark-grey;
    margin: 5px;
  }
}

.mainImage {
  @include flex($direction: column, $align: center, $gap: 5px);
}

.descriptionWrapper {
  @include flex($direction: column);
  max-width: 18.75rem;

  &__title {
    font-size: 1.5625rem;
    font-weight: 600;
    color: $smoother-black;
    text-shadow: 0.125rem 0.125rem 0.2rem $shadow-pkm;
  }

  &__body {
    font-size: 0.75rem;
    font-weight: 600;
    color: $dark-grey;
  }
}

.titleImage {
  @include image(18.75rem, 18.75rem);
}

// PokemonType Styles

.label--border {
  border: none;
  border-radius: 5px;
  box-shadow: 0rem 0rem 0.125rem 0.125rem $shadow-pkm;
}

.label--text {
  font-weight: 800;
  font-size: 0.75rem;
  color: white;
  text-align: center;
  text-transform: capitalize;
}

.typesWrapper {
  @include flex($gap: 10px);
  margin: 5px;
}

.typeLabel {
  @include flex($align: center, $gap: 2px);
  padding: 3px;
  margin: 1px;

  @extend .label--text;
  @extend .label--border;

  &__image {
    @include image(0.625rem, 0.625rem);
  }
}

// PokemonAbility Styles

.abilitiesWrapper {
  @include flex($gap: 10px);
  margin: 5px;
}

.abilityLabel {
  padding: 3px;
  margin: 1px;

  @extend .label--text;
  @extend .label--border;
}

// Evolution Styles

.evolutionsWrapper {
  @include flex(
    $direction: column,
    $align: center,
    $justify: center,
    $gap: 20px
  );

  &__title {
    text-align: center;
    font-size: 2.1875rem;
    font-weight: 800;
    text-shadow: 0.125rem 0.125rem 0.2rem $shadow-pkm;
  }
}

.card--border {
  border: none;
  border-radius: 20px;
  box-shadow: 0rem 0rem 0.2rem 0.2rem $shadow-pkm;
  background-color: rgb(255, 255, 255);
}

.evolutionCard {
  @include flex(
    $direction: column,
    $align: center,
    $justify: center,
    $gap: 5px
  );
  width: 10rem;
  height: 12.5rem;
  margin: 1.875rem 1.875rem;

  text-transform: capitalize;
  text-align: center;

  @extend .card--border;

  &__image {
    @include image(9.375rem, 9.375rem);
  }

  &__name {
    width: 70%;
    padding: 3px;

    border: none;
    border-radius: 10px;

    color: white;
    font-weight: 600;
  }
}

.detailWrapper {
  &__title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 35px;
    font-weight: 800;

    text-shadow: 0.125rem 0.125rem 0.2rem $shadow-pkm;
    text-transform: capitalize;
  }

  &__body {
    @include flex(
      $direction: column,
      $align: center,
      $justify: center,
      $wrap: wrap,
      $gap: 10px
    );

    @include media(tablet) {
      @include flex(
        $direction: row,
        $align: center,
        $justify: center,
        $wrap: wrap,
        $gap: 10px
      );
    }
  }
}

// Card Styles

.detailCard {
  @include flex($direction: column, $align: flex-start);

  background-color: white;
  box-shadow: 0.2rem 0.2rem 0.125rem 0.125rem $shadow-pkm;

  border: none;
  border-radius: 10px;

  margin: 10px 10px;
  padding: 10px;

  width: 80%;

  @include media(tablet) {
    width: 300px;

    margin: 30px 30px;
  }

  &__name {
    font-size: 17px;
    font-weight: 800;
    color: $smoother-black;

    margin: 10px 10px;
  }

  &__info {
    font-size: 15px;
    color: grey;

    margin: 10px 10px;
  }

  &__value {
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;

    margin: 10px 10px;
  }
}

//Footer Styles

.footer {
  @include flex($justify: space-between, $align: center);
  margin: 1.25rem;
}

.scroll {
  @include flex($direction: column, $gap: 5px);
  margin-left: 1.875rem;

  &__btn {
    font-weight: 600;
    color: white;
    opacity: 1;

    padding: 5px;

    border-radius: 10px;
    border: none;
    box-shadow: 0rem 0rem 0.125rem 0.125rem $shadow-pkm;

    &:hover {
      opacity: 0.8;
    }
  }

  &__image {
    @include image(1.5rem, 1.5rem);
  }
}
