@import "/styles/customs/mixins";
@import "/styles/customs/variables";

.defaultLayout {
  @include flex(
    $direction: column,
    $align: stretch,
    $justify: center,
    $gap: 2rem
  );
  padding: 0 2rem;

  @include media(desktop) {
    margin-inline: auto;
    max-width: 75rem;
  }
}

.titleGradient {
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  @include flex($justify: center, $align: center, $gap: 0.875rem);
  padding: 3rem;

  &__image {
    @include image($w: 2.8125rem, $h: 2.8125rem);

    @include media(desktop) {
      @include image($w: 3.8125rem, $h: 3.8125rem);
    }
  }

  &__title {
    font-size: 2.75rem;
    @extend .titleGradient;

    @include media(desktop) {
      font-size: 3.75rem;
    }
  }
}

.searchBarWrapper {
  @include flex($justify: center);

  @include media(desktop) {
    @include flex($justify: flex-end, $align: center);
  }
}

.searchBar {
  @include flex($align: center);
  width: 40%;
  padding: 0.3125rem;

  border-bottom: 0.0625rem solid black;
  border-radius: 0.3125rem;

  @include media(desktop) {
    width: 30%;
  }

  &__input {
    width: 100%;
    background: none;
    border: none;
    outline: none;

    font-size: 1.5rem;
  }

  &__image {
    @include image($w: 1.25rem, $h: 1.25rem);
  }
}

.gridLayout {
  display: grid;
  row-gap: 1.25rem;
  column-gap: 4.25rem;
  grid-template-columns: repeat(auto-fill, 9.375rem);
  justify-content: center;
  place-items: center;
}

.cardShadow {
  border: 10px solid white;
  border-radius: 20px;
  box-shadow: 0rem 0rem 0.3125rem 0.3125rem rgb(213, 211, 211);
  background: linear-gradient(
    180deg,
    rgb(255, 250, 235) 0%,
    rgb(255, 255, 255) 100%
  );

  &:hover {
    background: linear-gradient(
      180deg,
      rgb(250, 235, 200) 0%,
      rgb(255, 255, 255) 100%
    );
  }
}

.card {
  @include flex(
    $direction: column,
    $align: center,
    $justify: center,
    $gap: 1.5rem
  );
  width: 12.5rem;
  height: 18.75rem;
  @extend .cardShadow;

  font-size: 0.875rem;
  font-weight: 800;
  padding: 0.3125rem 0;
  color: $smoother-black;
  cursor: pointer;

  &__number {
    align-self: flex-start;
    padding-left: 5%;
  }

  &__image {
    @include image($w: 7.25rem, $h: 7.25rem);
  }

  &__name {
    text-transform: capitalize;
  }

  &__types {
    @include flex($gap: 10px);

    font-weight: 500;
    color: white;
    text-transform: capitalize;
    padding-bottom: 0.5rem;

    & > span {
      padding: 0.2rem 0.5rem;
      border-radius: 10px;
    }
  }
}

.filterWrapper {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 1;

  background-color: $filter-red;
  color: white;
}

.generationTypesFilter {
  padding: 1rem;

  & input {
    margin-inline: 1rem;
    font-size: 0.875rem;
    cursor: pointer;
  }

  & legend {
    font-size: 1.2rem;
  }
}
