// Miscellaneous

$shadow-pkm: rgb(220, 220, 220);
$smoother-black: rgb(50, 50, 50);
$dark-grey: rgb(80, 80, 80);
$filter-red: rgb(246, 120, 114);

// Pokemons' colors by type

$normal-type: rgb(168, 168, 120);
$fire-type: rgb(240, 128, 48);
$fighting-type: rgb(192, 48, 40);
$water-type: rgb(104, 144, 240);
$flying-type: rgb(168, 144, 240);
$grass-type: rgb(120, 200, 80);
$poison-type: rgb(160, 64, 160);
$electric-type: rgb(248, 208, 48);
$ground-type: rgb(224, 192, 104);
$psychic-type: rgb(248, 88, 136);
$rock-type: rgb(184, 160, 56);
$ice-type: rgb(152, 216, 216);
$bug-type: rgb(168, 184, 32);
$dragon-type: rgb(112, 56, 248);
$ghose-type: rgb(112, 88, 152);
$dark-type: rgb(112, 88, 72);
$steel-type: rgb(184, 184, 208);
$fairy-type: rgb(238, 153, 172);
